<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="KeyLogTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v2.0.50727" sku="Client"/></startup>
    <userSettings>
        <Client.Properties.Settings>
            <setting name="InitialStartupPath" serializeAs="String">
                <value />
            </setting>
        </Client.Properties.Settings>
        <KeyLogTest.Properties.Settings>
            <setting name="IsFirstTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="InitialStartupPath" serializeAs="String">
                <value />
            </setting>
        </KeyLogTest.Properties.Settings>
    </userSettings>
</configuration>
